/* Variables */
@charset 'UTF-8';

/// @group    Configurações

$colors: (
  primary     : #ec7000,
  secondary   : #007ab7,
  light: (
    base      : #ffffff,
    lighten   : #eee9e3,
    lighter   : #615851,
  ),
  dark: (
    base      : #252220,
    darken    : #000000,
  ),
  danger      : #ff0000,
  success     : #2bcc00,
  warning     : #febc11,

) !default;

/// @group    Fontes

$font-config: (
  thin: (
    name: interfaceLight,
    weight: 100
  ),
  light: (
    name: interfaceLight,
    weight: 300
  ),
  base: (
    name: interfaceRegular,
    weight: 400
  ),
  medium: (
    name: interfaceRegular,
    weight: 500
  ),
  bold: (
    name: interfaceBold,
    weight: 700
  ),
  black: (
    name: interfaceBolder,
    weight: 900
  )
) !default;

$font-fallback: Arial, Helvatica, sans-serif !default;
$border-radius: 5px;

/// @group    Fontes
$font-sizes: (
  big		    :	  32px,
  large		  :	  28px,
  medium		:	  20px,
  normal		:	  16px,
  small		  :	  13px,
  xsmall	  :	  11px
) !default;

/// @group    Breakpoints
$breakpoints: (
  xsmall  : 375px,
  small   : 425px,
  medium  : 769px,
  large   : 960px,
  xlarge  : 1321px,
  xxlarge : 1921px
) !default;

/// @group Spaces
$spaces: (
  s       :     4px,
  p       :     8px,
  base    :     16px,
  m       :     24px,
  g       :     32px,
  gg      :     48px,
  xg      :     56px
) !default;
