body {
    @include font(base, $fallback: true);
    @include responsive(large) {
        -webkit-overflow-scrolling: inherit;
        overflow-x: inherit;
    }
    @include responsive(medium, max) {
        font-size: (font-size(normal, $rem: false));
    }

    font-size: (font-size(normal, $rem: false));

    width: 100%;

    background-color: color(light, lighten);

    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}