rf2-modal {
    display: none;

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow: hidden !important;

        display: block;
        margin: auto;

        &.modal-icon {
            @include responsive(large) {
                margin: space(gg) auto auto;
            }

            margin: auto;

            &:before {
				content: "";

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
                bottom: 0;
                z-index: 1100;

				width: 30px;
				height: 30px;
				margin: space(base) auto auto;

				background: {
					repeat: no-repeat;
					position: center;
					size: 90%;
				};
            }

            &:after {
                @include hidden-text;

                content: "";

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                width: 60px;
                height: 60px;
                margin: 0 auto auto;

                background-color: color(light);
                border: 1px solid color(light, lighter);
                box-shadow: 0px 2px 4px 0px color(light, lighter);
                border-radius: 50%;
            }

            &.icon-approved {
                &:before {
                    @include responsive(xsmall, max) {
						width: 15px;
						height: 15px;
					}

					background: {
						image: url('/assets/images/icn-check.png');
					}
                }
            }

            &.icon-important {
                &:before {
					background: {
						image: url('/assets/images/icn-important.png');
					}
                }
            }

            .modal-body {
                padding-top: space(g);
            }
        }

        .modal-body {
            @include responsive(xlarge) {
                max-height: 1070px;
            }

            @include responsive(large) {
                padding: space(m);
                max-height: 740px;
            }

            @include responsive(medium) {
                max-height: 580px;
            }

            position: relative;

            max-height: 75vh;
            margin: space(g) space(m);
            padding: space(base) (space(p) * 1.5);

            background-color: color(light);
            border: 1px solid color(light, lighter);
            border-radius: $border-radius;

            overflow-x: hidden;
            overflow-y: auto;

            h2 {
                margin: 0 0 space(p);
                color: color(secondary);
                + p {
                    margin-bottom: space(m);
                }
            }

            .close {
                @include font(bold);

                position: absolute;
                top: 0;
                right: space(p);
                z-index: 1000;

                font-size: font-size(large);
                color: color(primary);

                &:hover {
                    text-decoration: none !important;
                }
            }

            .listParcelas {
                ul {
                    padding: 0;

                    li {
                        @include responsive(xsmall, max) {
                            .row {
                                > div {
                                    display: block;
                                    flex: inherit;
                                    max-width: 100% !important;
                                    width: 100% !important;
                                    margin: (space(p) / 2) space(base) !important;
                                    padding: 0;

                                    text-align: left !important;
                                }
                            }
                        }

                        margin: space(p) 0;
                        padding: space(base) space(p);

                        list-style-type: none;
                        border: 1px solid color(dark);
                        border-radius: $border-radius;

                        &:first-child {
                            p {
                                @include responsive(large) {
                                    font-size: font-size(small);
                                }

                                margin: (space(p) / 1.5 ) 0;

                                font-size: (font-size(small) / 1.11);

                                &:first-child {
                                    text-transform: uppercase;
                                    + p {
                                        font-size: (font-size(small) / 1.2);
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }

                        ~ li {
                            background-color: darken($color: color(light, lighten), $amount: 15);

                            p {
                                @include responsive(large) {
                                    font-size: font-size(small);
                                }

                                font-size: (font-size(small) / 1.2);
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 900;

        background-color: color(dark);
        opacity: 0.75;
    }
}

body.modal-open {
    overflow: hidden;
}
