table {
    thead {
        @include responsive(large) {
            display: table-header-group;
        }
        display: none;
    }

    tbody {
        tr {
            td {
                @include responsive(large) {
                    display: table-cell;
                    width: auto;
                }

                display: inline-block;
                width: 100%;

                &:before {
                    @include font(bold);
                    @include responsive(large) {
                        display: none;
                    }

                    content: attr(data-title);

                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
}