@import '../../../assets/scss/variables';
@import '../../../assets/scss/tools/functions/color';


@font-face {
    font-family: interfaceLight;
    src: url(/assets/fonts/itau/light/itau.woff) format("woff"),
         url(/assets/fonts/itau/light/itau.woff2) format("woff2"),
         url(/assets/fonts/itau/light/itau.eot) format("eot");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: interfaceRegular;
    src: url(/assets/fonts/itau/regular/itau.woff) format("woff"),
         url(/assets/fonts/itau/regular/itau.woff2) format("woff2"),
         url(/assets/fonts/itau/regular/itau.eot) format("eot");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: interfaceBold;
    src: url(/assets/fonts/itau/bold/itau.woff) format("woff"),
         url(/assets/fonts/itau/bold/itau.woff2) format("woff2"),
         url(/assets/fonts/itau/bold/itau.eot) format("eot");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: interfaceBolder;
    src: url(/assets/fonts/itau/bolder/itau.woff) format("woff"),
         url(/assets/fonts/itau/bolder/itau.woff2) format("woff2"),
         url(/assets/fonts/itau/bolder/itau.eot) format("eot");
    font-weight: 900;
    font-style: normal
}

h1 {
    @include font(bold);
    font-size: font-size(big);
    line-height: 1.3;
}

h2 {
    @include font(light);
    @include responsive(large) {
        font-size: font-size(large);
        line-height: 1.3;
    }

    margin: space(m) 0 space(base);

    font-size: font-size(medium);
    line-height: 1.3;

    strong {
        display: block;

        color: color(primary);
    }

    + p {
        margin-bottom: space(m);
    }

}

h3 {
    @include font(bold);
    font-size: font-size(normal);
    line-height: 1.3;
}

h4 {
    @include font(bold);
    font-size: font-size(small);
    line-height: 1.3;
}

h5 {
    @include font(bold);
    font-size: font-size(xsmall);
    line-height: 1.3;
}

h6 {
    @include font(bold);
    font-size: font-size(xsmall);
    line-height: 1.3;
}

p {
    font-size: font-size(normal);
    line-height: 1.3;
}

ul {
    padding:  0 0 0 space(base);
    li {
        margin: space(p) 0;
        list-style-type: disc;
    }
}

hr {
    margin: space(base) auto;
    width: 100%;

    border: 1px solid lighten($color: color(dark), $amount: 70);
}

a {
    color: inherit;
    cursor: pointer;

    &:hover {
        color: inherit;
        text-decoration: underline !important;
    }

    &.link {
        color: color(secondary) !important;
        &:hover {
            color: inherit;
            text-decoration: underline !important;
        }
    }

    &.primary {
        color: color(primary) !important;
    }

    &.secondary {
        color: color(secondary) !important;
    }

    &.skip {
        @include font(bold);

        position: absolute;
        top: -1000px;
        z-index: 99999;
        overflow: hidden;

        padding: space(p) space(base);

        font-size: font-size(normal) !important;
        color: color(light);

        background-color: color(secondary);
        border-bottom-right-radius: $border-radius;
        transition: top 0.3s;

        &:active,
        &:focus,
        &:hover {
            top: 0;
        }
    }

    &:focus {
        box-shadow: 0 0 5px 0px color(secondary);
    }


}

em {
    font-style: italic
}

strong {
    @include font(bold);
}

.strike {
    text-decoration: line-through;
}


// @section  Icon

.icn {
    @include hidden-text;

    position: relative;

    display: block;

    background-color: inherit;
    border: none;

    &:before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: block;
        width: 30px;
        height: 30px;
        margin: auto;

        background: {
            repeat: no-repeat;
            position: center;
            size: 90%;
        };
    }

    &.icn-warning {
        @include responsive(xsmall, max) {
            width: 15px;
            height: 15px;
        }

        width: 30px;
        height: 30px;

        &:before {
            @include responsive(xsmall, max) {
                width: 15px;
                height: 15px;
            }

            background: {
                image: url('/assets/images/icn-warning.png');
            }
        }
    }
}

// @section  Helpers

.bg-color-primary {
    background-color: color(primary) !important;
}
.bg-color-secondary {
    background-color: color(secondary) !important;
}
.bg-color-light {
    background-color: color(light) !important;
}
.bg-color-lighten {
    background-color: color(light, lighten) !important;
}
.bg-color-lighter {
    background-color: color(light, lighter) !important;
}
.bg-color-dark {
    background-color: color(dark) !important;
}
.bg-color-darken {
    background-color: color(dark, darken) !important;
}
.bg-color-danger {
    background-color: color(danger) !important;
}
.bg-color-success {
    background-color: color(success) !important;
}
.bg-color-warning {
    background-color: color(warning) !important;
}

.border-error {
    border-color: color(danger) !important;
}
.border-success {
    border-color: color(success) !important;
}
.border-warning {
    border-color: color(warning) !important;
}

.text-size-big {
    font-size: font-size(big) !important;
    line-height: 1.3;
}

.text-size-large {
    font-size: font-size(large) !important;
    line-height: 1.3;
}

.text-size-medium {
    font-size: font-size(medium) !important;
    line-height: 1.3;
}

.text-size-normal {
    font-size: font-size(normal) !important;
    line-height: 1.3;
}

.text-size-small {
    font-size: font-size(small) !important;
    line-height: 1.3;
}

.text-size-xsmall {
    font-size: font-size(xsmall) !important;
    line-height: 1.3;
}

.text-color-primary {
    color: color(primary) !important;
}
.text-color-secondary {
    color: color(secondary) !important;
}
.text-color-light {
    color: color(light) !important;
}
.text-color-lighten {
    color: color(light, lighten) !important;
}
.text-color-lighter {
    color: color(light, lighter) !important;
}
.text-color-dark {
    color: color(dark) !important;
}
.text-color-darken {
    color: color(dark, darken) !important;
}
.text-color-danger,
.error {
    color: color(danger) !important;
}
.text-color-success,
.sucess {
    color: color(success) !important;
}
.text-color-warning {
    color: color(warning) !important;
}
