/* Variables */
/*------------------------------------*\
    VENDORS
\*------------------------------------*/
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
/*------------------------------------*\
    RESET
\*------------------------------------*/
html, body, main, article, nav, aside, section,
header, footer, address, div,
h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, dl, dt, dd,
hr, pre, figure, figcaption,
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,
form, fieldset, legend, label, input, button, select, datalist,
optgroup, option, textarea, progress, meter,
img, iframe, embed, object, param, video, audio, source,
canvas, track, map, area, del, ins,
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup,
time, code, kbd, samp, var, bdi, bdo, ruby, rt, rp, wbr,
mark, span, br {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

:after,
:before {
  box-sizing: border-box; }

button,
select,
textarea,
input {
  color: inherit;
  font-family: inherit;
  vertical-align: middle;
  max-width: 100%; }

a {
  text-decoration: none; }
  a img,
  a svg {
    display: block;
    border: none;
    max-width: 100%; }

img,
svg {
  max-width: 100%;
  border: none; }

li {
  list-style: none; }

hr {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left; }

:focus {
  outline: none; }

[hidden], [data-hidden="true"] {
  display: none; }

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: underline; }

em {
  font-style: italic; }

strong {
  font-family: "Roboto";
  font-weight: 700; }

/*------------------------------------*\
    FORM
\*------------------------------------*/
/*------------------------------------*\
    HEADER
\*------------------------------------*/
/*------------------------------------*\
    BODY
\*------------------------------------*/
html {
  font-family: "Roboto", Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  font-size: 16px; }
  @media (min-width: 79.9375em) {
    html {
      -webkit-overflow-scrolling: inherit;
      overflow-x: hidden; } }

body {
  font-family: "Roboto";
  font-weight: 400;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }
  @media (min-width: 79.9375em) {
    body {
      -webkit-overflow-scrolling: inherit;
      overflow-x: inherit; } }

/*------------------------------------*\
    MAIN
\*------------------------------------*/
/*------------------------------------*\
    SECTION
\*------------------------------------*/
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
/*------------------------------------*\
    HELPERS
\*------------------------------------*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

.margin-left {
  margin-left: 15px; }

.margin-right {
  margin-right: 15px; }

.nopad-left {
  padding-left: 0; }

.nopad-right {
  padding-right: 0; }

@media (max-width: 640px) {
  .center-block-mobile {
    float: none !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important; }
  .text-center-mobile {
    text-align: center; } }

.center-block {
  float: none !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }
  @media (max-width: 767px) {
    .vcenter {
      display: inherit;
      float: inherit; } }

.vbottom {
  display: inline-block;
  vertical-align: bottom;
  float: none; }

.letter-spacing {
  letter-spacing: 2px; }

label {
  white-space: nowrap; }

.position-absolute {
  position: relative !important; }
  @media (min-width: 79.9375em) {
    .position-absolute {
      position: absolute !important; } }

.slick-slider button {
  outline: none; }
  .slick-slider button.slick-arrow {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: inherit;
    text-rendering: auto;
    font-size: 0;
    border: 0;
    cursor: pointer; }
    .slick-slider button.slick-arrow.slick-prev {
      position: absolute;
      left: 0;
      margin: 84px auto auto -56px; }
      .slick-slider button.slick-arrow.slick-prev:before {
        display: block;
        content: ""; }
    .slick-slider button.slick-arrow.slick-next {
      position: absolute;
      right: 0;
      margin: 84px -56px auto auto; }
      .slick-slider button.slick-arrow.slick-next:before {
        display: block;
        content: ""; }

.slick-track {
  display: flex;
  align-items: flex-start; }

/*------------------------------------*\
    ARTICLE
\*------------------------------------*/
